@(userSignupFields: List[(String, String, Boolean)], orgSignupFields: List[(String, String, Boolean)])(implicit request: RequestHeader, user: User)

@selectOption(value: String, fieldType: String) = {
    value="@value"
    @if(fieldType.split("\\[")(0) == value) {
        selected="selected"
    }
}

@main("admin", "VIKTYO - Admin Dashboard", Some(user)) {
    <div class="container">

        <h1>Admin Dashboard</h1>

        <ul class="nav nav-tabs">
            <li><a href="@routes.Admin.dashboard()">Info</a></li>
            <li><a href="@routes.Admin.users()">Users</a></li>
            <li><a href="@routes.Admin.pages()">Pages</a></li>
            <li><a href="@routes.Admin.listings()">Listings</a></li>
            <li><a href="@routes.Admin.stats()">Stats</a></li>
            <li class="active"><a href="@routes.Admin.configure()">Config</a></li>
            <li><a href="@routes.Admin.finance()">Finance</a></li>
        </ul>

        <div>
            <h2>Configuration</h2>

            <h3 class="blue">Signup</h3>
            <h4 class="orange">User Signup Fields</h4>
            @for(field <- userSignupFields) {
                <div>
                    Name: <input type="text" value="@field._1"/>
                    Type:
                    <select>
                        <option @selectOption("text", field._2) >Text</option>
                        <option @selectOption("password", field._2) >Password</option>
                        <option @selectOption("select", field._2) >Select</option>
                        <option @selectOption("radio", field._2) >Radio</option>
                        <option @selectOption("checkbox", field._2) >Checkbox</option>
                    </select>
                    Required: <input type="checkbox" @if(field._3){ checked="checked" } >
                </div>
            }


            <h4 class="orange">Organization Signup Fields</h4>
            <!-- Field name, type, and required -->
            @for(field <- orgSignupFields) {
                <div>
                    Name: <input type="text" value="@field._1"/>
                    Type:
                    <select>
                        <option @selectOption("text", field._2) >Text</option>
                        <option @selectOption("password", field._2) >Password</option>
                        <option @selectOption("select", field._2) >Select</option>
                        <option @selectOption("radio", field._2) >Radio</option>
                        <option @selectOption("checkbox", field._2) >Checkbox</option>
                    </select>
                    Required: <input type="checkbox" @if(field._3){ checked="checked" } >
                </div>
            }

            <h3 class="blue">Postings</h3>
            <h4 class="orange">Available Fields</h4>
            <h4 class="orange">Types</h4>
            <h4 class="orange">Colors</h4>

            <h3 class="blue">Profile Information</h3>
            <h4 class="orange">Available Fields</h4>

        </div>
    </div>
}
