/* Define the fonts */

@font-face {
    font-family: Brandon Grotesque;
    src: url('/assets/fonts/Brandon_reg.otf');
    font-weight: normal;
}
@font-face {
    font-family: Brandon Grotesque;
    src: url('/assets/fonts/Brandon_bld.otf');
    font-weight: bold;
}
@font-face {
    font-family: Brandon Grotesque;
    src: url('/assets/fonts/Brandon_light.otf');
    font-weight: lighter;
}


@font-face {
    font-family:  Helvetica Neue LT Pro;
    src: url('/assets/fonts/HelveticaNeueLTPro-Roman.otf');
}
@font-face {
    font-family:  Helvetica Neue LT Pro;
    src: url('/assets/fonts/HelveticaNeueLTPro-Md.otf');
    font-weight: bold
}

/*
body {
    font-family: Helvetica Neue LT Pro, Helvetica, Arial, sans-serif;
}
input, button, select, textarea {
    font-family: Helvetica Neue LT Pro, Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica Neue LT Pro, Helvetica, Arial, sans-serif;
}
p {
    font-family: Helvetica Neue LT Pro, Helvetica, Arial, sans-serif;
}
*/

p {
    /*font-size: 12px;
    line-height: 18px;*/
    color: #666;

}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Brandon Grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

a.btn, input, button, select, textarea {
    font-family: 'Helvetica Neue LT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.headerIcon {
    vertical-align: baseline;
    margin-bottom: -3px;
}

.noMargin {
    margin: 0;
}

/*h1 {
    font-size: 30px;
    color: #333;
    font-weight: bold;
}*/

/* Link Styling */

a {
    font-weight: bold;
    color: #EE9D2F;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    color: #B56733;
    text-decoration: none;
}

a.notBold {
    font-weight: normal;
}
a.notBold:hover {
    font-weight: normal;
}

a.btn,a.btn:hover {
    font-weight: normal;
}

a.no-underline {
    text-decoration: none;
    border: none;
}

/* File fix */

input[type="file"].invisible {
    width: 0;
    margin: 0;
    padding: 0;
}

/* Divider Styling */

hr {
    border: 0;
    border-bottom: #ccc 1px solid;
}

hr.neutral {
    border-bottom: #aaa 1px solid;
}
hr.dark {
    border-bottom: #666 1px solid;
}

/* Text Color Classes */
.orange {
    color: #EE9D2F;
}
.blue {
    color: #3165b0;
}


/* Spacers and Sizers */

.pad-top-none {
    margin-top: 0;
}
.pad-top-low {
    margin-top: 10px;
}
.pad-top-med {
    margin-top: 20px;
}
.pad-top-high {
    margin-top: 30px;
}
.pad-left-none {
    margin-left: 0;
}
.pad-left-low {
    margin-left: 10px;
}
.pad-left-med {
    margin-left: 20px;
}
.pad-left-high {
    margin-left: 30px;
}
.pad-right-none {
    margin-right: 0;
}
.pad-right-low {
    margin-right: 10px;
}
.pad-right-med {
    margin-right: 20px;
}
.pad-right-high {
    margin-right: 30px;
}
.pad-bottom-none {
    margin-bottom: 0;
}
.pad-bottom-low {
    margin-bottom: 10px;
}
.pad-bottom-med {
    margin-bottom: 20px;
}
.pad-bottom-high {
    margin-bottom: 30px;
}

/* Sizing Classes */
.full-width {
    width: 100%;
}


/* Profile Image Classes */
.profile-pic-x-small {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;

    width: 36px;
    height: 36px;
}
.profile-pic-small {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

    width: 50px;
    height: 50px;
}

.profile-pic-small-border {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;

    width: 50px;
    height: 50px;
    background: white;
    padding: 2px;

    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.profile-pic-large {
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;

    width: 150px;
    height: 150px;
}

.profile-pic-large-border {
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;

    width: 150px;
    height: 150px;
    background: white;
    padding: 5px;

    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.3);

}


/* Extra icon classes for lightness */
.iconLight-25 {
    opacity: 0.25;
    filter: alpha(opacity=25);
}
.iconLight-50 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.iconLight-75 {
    opacity: 0.75;
    filter: alpha(opacity=75);
}


/* Button Fixes */
.btn.submitBtn {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    margin: 3px 9px 0 0;
    padding: 0;
    width: 108px;
    height: 34px;

    background: url("/assets/images/submitBtn.png") top left no-repeat;

    border: 0;
    padding: 10px 20px;

    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);


    font-family: Helvetica, Arial, Sans-serif;
    font-size: 10pt;
}

.btn.submitBtn:hover {
    /*background-color: #ed8b31;*/
    background: url("/assets/images/submitBtn.png") top left no-repeat;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.btn.submitBtn:active {
    background: url("/assets/images/submitBtn.png") top left no-repeat;

    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-warning {
    height: 34px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    padding: 8px 29px;

    background-color: #ee8e32;
    background-image: -moz-linear-gradient(top, #f5b53b, #ee8e32);
    background-image: -ms-linear-gradient(top, #f5b53b, #ee8e32);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5b53b), to(#ee8e32));
    background-image: -webkit-linear-gradient(top, #f5b53b, #ee8e32);
    background-image: -o-linear-gradient(top, #f5b53b, #ee8e32);
    background-image: linear-gradient(top, #f5b53b, #ee8e32);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5b53b', endColorstr='#ee8e32', GradientType=0);

    border: 0;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning:hover {
    background-color: #ee8e32;
}
.btn-warning:active {
    background-color: #ee8e32;
}
a.btn-warning {
    height: 18px;
}

/* Containers */

.container.separator {
    border-top: 1px solid #DDD;
    padding-top: 20px;
    margin-top: -20px;
}

.centered {
    text-align: center;
}

.inlineBlock {
    display: inline-block;
}

/* Misc */

.noOverflow {
    overflow: hidden;
}