.notification {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.notification.unread {
    background: #e5e5e5;
}