@(postings: String)(implicit request: RequestHeader, user: Option[User] = None)

@main("postingsList", "VIKTYO - Listings") {

    <script src="@routes.Assets.at("javascripts/mustache.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/postingTemplates.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/postings.js")" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/postings.css")">

    <script type="text/javascript">
        var postings = @Html(postings);
    </script>

    <div class="container">
        <div class="row">
            <div class="span3">
                Sorting and filtering goes here
            </div>
            <div class="span9">
                <div id="postings">

                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="postingPanoramioCopyright">
                    Photos provided by Panoramio are under the copyright of their owners
                </div>
            </div>
        </div>
    </div>

}
