@(posting: Posting)(implicit request: RequestHeader, user: Option[User])

@main("posting", "VIKTYO") {

    <script src="@routes.Assets.at("javascripts/posting.js")" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/posting.css")">

    <div class="container separator">
        <div class="row">
            <div class="span3">
                Organization information
            </div>
            <div class="span9">
                @if(posting.getPanoramio.isDefined) {
                    @defining(posting.getPanoramio.get) { panoramio =>
                        <div class="postingPanoramioContainer">
                            <div class="postingImageContainer">
                                <img data-height="@{(panoramio \ "height").as[Int]}" src="@{(panoramio \ "photo_file_url").as[String]}" >
                                <div class="postingType">
                                    @posting.getType
                                </div>
                            </div>
                        </div>
                    }
                } else {
                    <div class="postingImageContainer">
                        <img src="@posting.getCoverPictureUrl" >
                        <div class="postingType">
                            @posting.getType
                        </div>
                    </div>
                }
                <div>
                    <div class="pull-left">
                        <h2 class="pad-bottom-none">@posting.name</h2>
                    </div>
                    <div class="pull-right pad-top-med">
                        <a class="pad-right-low iconLight-50" href="@routes.Postings.favorite(posting.id.get)"><img src="/assets/images/icons/glyphicons_049_star.png" alt="Favorite this"></a>
                        <a class="iconLight-50" href="#"><img src="/assets/images/icons/glyphicons_006_user_add.png" alt="Follow this"></a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
            </div>
        </div>
    </div>

}
