@(posting: Posting, favorites: List[User], followers: List[User], images: List[(ActivityStream, Image)], comments: List[(ActivityStream, Text)])(implicit request: RequestHeader, user: User)

@main("posting", "VIKTYO", Some(user)) {

    <script src="@routes.Assets.at("javascripts/posting.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/formValidator.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/fileUpload.js")" type="text/javascript"></script>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/posting.css")">

    <div class="container separator">

        @if(user == posting.poster || user.getProperty("accountType").get == "admin") {
            <div class="row">
                <div class="span9 offset3">
                    <div class="btn-group">
                        <a class="btn" href="@routes.Postings.setCoverPage(posting.id.get)"><i class="icon-picture"></i> Change Picture</a>
                        <a class="btn" href="#"><i class="icon-pencil"></i> Edit</a>
                        <a class="btn" href="#"><i class="icon-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="span3">
                Organization information
            </div>
            <div class="span9">
                @if(posting.getPanoramio.isDefined) {
                    @defining(posting.getPanoramio.get) { panoramio =>
                        <div class="postingPanoramioContainer">
                            <div class="postingImageContainer">
                                <img data-height="@{(panoramio \ "height").as[Int]}" data-width="@{(panoramio \ "width").as[Int]}" src="@{(panoramio \ "photo_file_url").as[String]}" >
                                <div class="postingType">
                                    @posting.getType
                                </div>
                            </div>
                            TODO: Panoramio information
                        </div>
                    }
                } else {
                    <div class="postingImageContainer">
                        <img src="@posting.getCoverPictureUrl" >
                        <div class="postingType">
                            @posting.getType
                        </div>
                    </div>
                }
                <div>
                    <div class="pull-left">
                        <h2 class="pad-bottom-none">@posting.name</h2>
                    </div>
                    <div class="pull-right pad-top-med">
                        @if(favorites.contains(user)) {
                            <a class="pad-right-low" href="@routes.Postings.unfavorite(posting.id.get)"><i class="icon-star icon-2x orange"></i></a>
                        } else {
                            <a class="pad-right-low iconLight-25" href="@routes.Postings.favorite(posting.id.get)"><i class="icon-star icon-2x orange"></i></a>
                        }
                        @if(followers.contains(user)) {
                            <a class="iconLight-75" href="@routes.Postings.unfollow(posting.id.get)"><i class="icon-thumbs-up icon-2x green"></i></a>
                        } else {
                            <a class="iconLight-25" href="@routes.Postings.follow(posting.id.get)"><i class="icon-thumbs-up icon-2x green"></i></a>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
                <div>
                    <span class="pad-right-med"><i class="icon-map-marker"></i> @posting.location.name</span>
                    <span class="pad-right-med"><i class="icon-user"></i> @posting.countFollowers</span>
                    <span class="pad-right-med"><i class="icon-star"></i> @posting.countFavorites</span>
                    <span class="pad-right-med"><i class="icon-eye-open"></i> @posting.getViews</span>
                </div>
                <div class="pad-top-med">
                    @posting.getDescription
                </div>
                <hr>
                <div>
                    <div class="pad-bottom-med">
                        @for(i <- 0 until math.min(images.size, 8)) {
                            <div class="postingImageThumbnail pad-right-med">
                                <img src="@images(i)._2.uri" alt="@images(i)._2.name">
                            </div>
                        }
                    </div>
                    <a class="btn" href="#imageModal" data-toggle="modal"><i class="icon-upload"></i> Upload Image</a>
                    <a href="#" class="pad-left-high">View all images</a>
                </div>
                <hr>
                <form action="@routes.Postings.addComment(posting.id.get)" method="@routes.Postings.addComment(0).method">
                    <textarea class="full-width" placeholder="Add a comment..." name="comment"></textarea>
                    <input type="submit" class="btn" value="Save Comment" />
                </form>
                @for(comment <- comments) {
                    <div class="row-fluid postingComment">
                        <div class="span1">
                            <img class="profile-pic-small" src="@comment._1.actor.getProfilePictureUrl">
                        </div>
                        <div class="span11">
                            <div class="pull-right comment">
                                <a class="btn btn-small" href="@routes.Postings.deleteActivityStream(posting.id.get, comment._1.id.get)"><i class="icon-trash"></i></a>
                            </div>
                            <div>
                                <a href="@routes.Users.view(comment._1.actor.id.get)">@comment._1.actor.fullname</a> - @comment._2.textValue
                            </div>
                            <div class="postingCommentTime">
                                @tools.TimeTools.getFeedTime(comment._1.published)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- add image Modal -->
    <div id="imageModal" class="modal modal-med hide fade" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <h3 id="imageModalLabel">Add an image</h3>
            @views.html.images.imageUpload("/posting/" + posting.id.get + "/add/image/")

        </div>
        <div class="modal-footer">

        </div>
    </div>

}
