@()(implicit request: RequestHeader)

@main("signup", "VIKTYO - Password Recovery") {
    <div class="container">
        <div class="centered">
            <h1>Forgot your password?</h1>
            <h1><small>We can help!</small></h1>
            <p>
                Enter the your username and we'll send you an email with instructions on how to reset your password.
            </p>
        </div>

        <form class="form-horizontal" action="@routes.Account.forgotPassword()" method="@routes.Account.forgotPassword().method">
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Go!</button>
                </div>
            </div>
        </form>

    </div>
}
