@()(implicit request: RequestHeader, user: User)

@main("profile", "VIKTYO - Profile", Some(user)) {

    <div class="container">
        <h1>Your Profile</h1>

        <p>
            Stuff that can go here...
            <ul>
                <li>Biography</li>
                <li>Networks</li>
                <li>Degrees</li>
                <li>Timeline</li>
                <li>Experience</li>
                <li>Links to other social networks</li>
            </ul>
        </p>
    </div>
    
}
