@(url: String)

<script src="@routes.Assets.at("javascripts/imageUpload.js")" type="text/javascript"></script>

<form class="form-horizontal imageUpload" data-url="@url" data-purpose="std">
    @views.html.account.formHelpers.field(("Image", "file"), required = false)
    @views.html.account.formHelpers.field(("Name", "text"), required = false)

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Upload Image</button>
        </div>
    </div>
</form>
<img src="/assets/images/ajax-loader.gif" class="imageFormUploading" />
